/* GENERAL 
========================*/
* {
	margin: 0;
	padding: 0;
}
body {
	font-family: "Montserrat";
	width: 100%;
	font-size: 12px;
	overflow-x: hidden;
}

a {
	text-decoration: none;
	color: #fff;
}
a:hover {
	border-bottom: 1px solid white;
}
.header:hover {
	border-bottom: none!important;
}
/* PARALLAX 
=========== */
.parallaxParent {
	height: 100vh;
	overflow: hidden;
}
.parallaxParent > * {
	height: 200%;
	position: relative;
	top: -100%;
	background-size: contain;
}
#para1 {
	background-image: url("images/cover.jpg");
}
#para2 {
	top: -80%;
	background-image: url("images/cut1.jpg");
}
#para3 {
	top: -80%;
	background-image: url("images/cut2.jpg");
}
#para4 {
	background-image: url("images/computers.jpg");
}
#contactPicture {
	background-image: url("images/mail.jpg");
	height: 100%;
	background-size: contain;
}
.gradient:after {
	content: "";
	width: 100%;
	height: 100%;
	background-image: linear-gradient(0deg, rgb(0, 254, 132) 0%, rgb(33, 1, 66));
	mix-blend-mode: multiply;
	position: absolute;
	left: 0;
	top: 0;
	transition: all 1s ease-in-out;
}
.title {
	font-size: 40px;
	text-align: center;
	top: 100px;
	position: absolute;
	margin: 0 auto;
	width: 100%;
	text-transform: uppercase;
	z-index: 999;
}
/* NAV 
========================*/
ul {
	list-style: none;
}
.nav {
	display: flex;
	justify-content: space-around;
	align-items: center;
	text-transform: uppercase;
	font-weight: 600;
	position: fixed;
	width: 100%;
	z-index: 1;
	border-bottom: 1px solid #00fe84;
}
.logo {
	font-size: 40px;
	color: #00fe84;
}
.menu-links ul li {
	display: inline-block;
	padding-right: 20px;
	color: #00fe84;
}
.rotate {
	display: inline-block;
	transform: rotate(-180deg);

	/* Legacy vendor prefixes that you probably don't need... */

	/* Safari */
	-webkit-transform: rotate(-180deg);

	/* Firefox */
	-moz-transform: rotate(-180deg);

	/* IE */
	-ms-transform: rotate(-180deg);

	/* Opera */
	-o-transform: rotate(-180deg);

	/* Internet Explorer */
	filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
}
/* CTA 
========================*/

.header {
	text-transform: uppercase;
}
.tag {
	font-size: 40px;
	position: absolute;
	letter-spacing: 2px;
	top: 60%;
	left: 34%;
	text-transform: uppercase;
	color: #fff;
}
/* WHO 
========================*/
.content {
	position: relative;
	width: 100%;
	height: 100vh;
	color: #fff;
}

.split {
	position: absolute;
	width: 50%;
	height: 100%;
	transition: 1s all cubic-bezier(0.87, 0.76, 0.33, 0.98);
	overflow: hidden;
}
.split.left {
	left: 0;
	border-right: 1px solid transparent;
}
.split.right {
	right: 0;
	border-right: 1px solid transparent;
}
.hover-left .split.left {
	width: 60%;
}
.hover-right .split.right {
	width: 60%;
}
.hover-left .split.right {
	width: 40%;
}
.hover-right .split.left {
	width: 40%;
}
.picture {
	width: 30%;
	position: absolute;
	top: 30%;
	border-radius: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.whocontent {
	width: 600px;
	position: absolute;
	top: 70%;
	text-align: center;
	left: 50%;
	transform: translate(-50%, -50%);
	transition: all 1s cubic-bezier(0.87, 0.76, 0.33, 0.98);
}

.whocontent .subtitle {
	font-size: 16px;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.whocontent .jobtitle {
	font-size: 80px;
	text-transform: uppercase;
	font-weight: 700;
	line-height: 1;
	letter-spacing: 5px;
	margin-top: 10px;
}
.whocontent {
	color: #fff;
}
.whocontent .desc {
	font-size: 14px;
	font-weight: 300;
	line-height: 2;
	margin: 10px 0 30px 0;
}
.button {
	font-size: 16px;
	background: transparent;
	padding: 15px 50px;
	text-align: center;
	font-weight: 700;
	letter-spacing: 1px;
	cursor: pointer;
	outline: none;
	border-radius: 100px;
	border: #fff solid 2px;
	color: #fff;
}
.button:hover {
	color: #210142;
	background: #fff;
}

.hover-left .split.left .whocontent {
	transform: translate(-50%, -50%);
}
.hover-left .split.right .whocontent {
	transform: translate(-45%, -50%);
}
.hover-right .split.left .whocontent {
	transform: translate(-60%, -50%);
}
.hover-right .split.right .whocontent {
	transform: translate(-45%, -50%);
}
/* WHAT
========== */
.whatcontent {
	display: flex;
	align-items: center;
	flex-direction: row;
	position: absolute;
	top: 0;
}
.block {
	width: 33%;
	text-align: center;
	margin-top: 20%;
}
.block i {
	margin-top: 40px;
	font-size: 60px;
}
.desc {
	padding: 50px;
}
/* CONTACT 
================ */

.form {
	position: absolute;
	top: 50%;
	left: 25%;
}
.contactText {
	width: 100%;
	font-size: 20px;
	color: #fff;
	text-align: center;
}
/* Style inputs */
input[type="text"],
select {
	width: 100%;
	padding: 12px 20px;
	margin: 8px 0;
	display: inline-block;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
}

/* Style the submit button */
input[type="submit"] {
	margin-top: 30px;
	width: 50%;
	left: 50%;
	margin-left: 25%;
	cursor: pointer;
}

/* overlay */
.overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	z-index: 999999999999999999999;
	overflow-x: hidden;
}
.first {
	background: #00fe84;
}
.second {
	background: #00fe84;
	left: 33.3%;
}
.third {
	background: #00fe84;
	left: 66.6%;
}
.overlayTitle {
	font-size: 70px;
	color: #fff;
	position: absolute;
	top: 50%;
	left: 50px;
	text-transform: uppercase;
}
